# Assign all directories and files to Primary Owner(s) by default
*				@andrewhaller

# Assign the specific directory to owners responsible for GitHub configuration and workflows
/.github/		@stairwaytowonderland/owners
